<div class="name">
	<input type="text" class="name" id="name" placeholder="Name">
	<br>
	<input type="button" onclick="save_name();" class="play" value="Play">
</div>

<div id="dev">
	<a href="https://github.com/ayushskmaurya" target="_blank" class="dev">-Ayushkumar Maurya</a>
</div>
