div.name {
	margin: auto;
	height: fit-content;
	background-color: #006400;
	box-sizing: border-box;
	border-radius: 25px;
	box-shadow: 0px 0px 10px 10px #00a000;
	text-align: center;
	padding: 15px;
}

@media(min-width: 576px) {
	div.name {
		width: 350px;
	}
}
@media(max-width: 575px) {
	div.name {
		width: calc(100% - 20px);
	}
}

input {
	box-sizing: border-box;
	border: none;
	border-radius: 7px;
	padding: 5px 12px;
	font-size: 1.2rem;
	font-family: 'Lobster', cursive;
}

input.name {
	width: 100%;
	color: #640000;
	background-color: #fff;
}
input.name:hover {
	border: 1px #640000 solid;
}
input.name:focus {
	outline: none;
	border: 2px #640000 solid;
}

.play {
	margin-top: 15px;
	color: #fff;
	background-color: #640000;
}
.play:hover {
	background-color: #530000;
}

#dev {
	padding: 0px 7px 4px 7px;
	background-color: #640000;
	text-align: right;
}

.dev {
	text-decoration: none;
	color: #fff;
	font-family: 'Noto Sans JP', sans-serif;
}
